* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  height: 100vh;
  font-size: 1.6rem;
  background-image: url("./walpaper.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header {
  background-color: #ffffffc8;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem;
}
.heading,
.favourite {
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
  color: #130059;
  cursor: pointer;
}
.favourite {
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.fa-heart,
.fa-plus {
  padding-right: 1rem;
}
.saerch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
#searchItem {
  padding: 0.5rem 1rem;
  height: 5rem;
  width: 50vw;
  font-size: 2rem;
  border: none;
  outline: none;
  border-radius: 1rem;
}
.onSeachResults {
  display: flex;
  flex-direction: column;
}
.eachResult {
  width: 50vw;
  display: flex;
  align-items: center;
  background-color: #ffffff9c;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  justify-content: space-between;
}
.details,
.addFav {
  display: flex;
  align-items: center;
  color: #130059;
  cursor: pointer;
}
.addFav{
  color: #9e0000;;
}
.eachResult img {
  height: 4rem;
  width: 4rem;
  background-position: center;
  object-fit: cover;
  margin-right: 2rem;
}
